body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 /* background-image: url("http://moziru.com/images/feilds-clipart-lawn-8.jpg");*/
  background-image: url("https://i.pinimg.com/originals/c2/75/33/c2753303832db57412627f5ca4534a19.jpg");
}

